<header>
  <h1>Subjects</h1>

  <ul class="actions">
    <li><%= link_to "New Subject", new_subject_path, class: "new" %></li>
  </ul>

</header>



<div id="subjects">
  <% @subjects.each do |subject| %>
    <h2><%= link_to subject.name, subject %></h2>
  <% end %>
</div>
