<% title(@subject.name, "Subjects") %>

<header>
  <h1><%= @subject.name %></h1>

  <ul class="actions">
    <li><%= link_to fa_icon("pencil") + " Edit Subject", edit_subject_path(@subject), class: "btn btn-primary" %></li>
    <li><%= link_to fa_icon("trash") + " Delete Subject",
      subject_path(@subject),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this subject?" },
      class: "btn btn-danger" %></li>
  </ul>
</header>

<header>
  <h2>Units</h2>
  <ul class="actions">
    <li><%= link_to "New Unit", new_subject_unit_path(@subject),
      class: "new" %></li>
  </ul>
</header>
