<header>
  <h1>Reports</h1>

  <ul class="actions">
    <li><%= link_to "New Report", new_report_path, class: "new", method: :get %></li>
  </ul>
</header>

<div id="reports">
  <% @reports.each do |report| %>
  <h2><%= link_to report.name, report %></h2>
  <!-- <p><%= report.comment %></p> -->
  <% end %>
</div>
<br>
<p>&nbsp;</p>
